<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user" align="center" style="flex-direction: column !important">
    <div class="tech" align="center">
      <h2>Present</h2>
      <h4>Head of Cloud at eGOV Authority, Emirate of Ras Al-Khaimah, UAE</h4>
      <p>As the Head of Cloud at the Government of Ras Al Khaimah Emirate, I led the formulation and execution of the EGA Cloud Strategy, shaping our strategic vision and technological roadmap. My role encompassed crafting the strategy document, selecting the appropriate technologies, and establishing robust governance mechanisms to ensure optimal cloud utilization. I nurtured strong partnerships with key providers such as AWS, Microsoft, and G42 (Core42), fostering seamless collaboration and maximizing the value of cloud resources.</p>
      <p>I collaborated closely with business owners and procurement teams to draft RFPs for diverse government projects, meticulously assess bids, and co-create contracts with legal and business stakeholders. This involved managing relationships with multiple vendors, overseeing procurement processes, and ensuring alignment with organizational goals and regulatory requirements.</p>
      <p>As an expert in software and solution architecture, cloud infrastructure, security protocols, and technology selection, I provided strategic guidance and technical expertise to all government departments, organizations, and owned companies. My contributions facilitated innovation and efficiency through the adoption of cloud-based solutions across the government landscape, driving digital transformation and enhancing operational resilience.</p>
    </div>
    <div class="tech" align="center">
      <h2>2020-2023</h2>
      <h4>Senior Solutions Architect at AWS</h4>
      <p>Senior Solutions Architect supporting RnD centers of multinational enterprise customers of AWS. In this role, I collaborate with the customers to define cloud adoption and migration strategies, design scalable, resilient and secure architectures in the cloud. Provide enablement (workshops, deep dive sessions, immersion days) in various technological areas.</p>
    </div>
</div>
