<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>2023-Present: Head of Cloud at eGOV Authority, Emirate of Ras Al-Khaimah, UAE</h2>
    <p>Lorem ipsum</p>
  </div>
  <div class="tech">
    <h2>2020-2023: Senior Solutions Architect at AWS</h2>
    <p>Senior Solutions Architect, supporting RnD centers of multinational enterprise customers of AWS. In this role, I collaborate with the customers to define cloud adoption and migration strategies, design scalable, resilient and secure architectures in the cloud. Provide enablement (workshops, deep dive sessions, immersion days) in various technological areas.</p>
  </div>
  
</div>
