<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <!-- Aryeh Leon Radle Dessiatnik -->
    <!-- Amazon AWS -->
    <!-- Solutions Software Architect -->

    <meta name="tags" content="Aryeh Leon Radle Dessiatnik Amazon AWS Azure Cloud Solutions Software Architect">
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
