<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <!-- Aryeh Leon Radle Dessiatnik -->
    <!-- Amazon AWS -->
    <!-- Solutions Software Architect -->

    <meta name="tags" content="Aryeh Leon Radle Dessiatnik Amazon AWS Azure Cloud Solutions Software Architect">
    <meta name="description" content="Chief Architect and Head of Cloud with 20+ years of expertise in Cloud, Solutions, and Software Architecture. Specializing in enterprise and government cloud migration, RFP evaluations, business strategy development, and stakeholder management. Renowned for technical proficiency and leadership in multinational environments.">
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
